{
  "presets": ["@babel/preset-env",
              // { "useBuiltIns": "usage" },
              "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-transform-runtime", 
    "react-hot-loader/babel",
    ["import", {
      "libraryName": "antd",
      "libraryDirectory": "es",
      // "style": "css" // `style: true` 会加载 less 文件
      "style": true // `style: true` 会加载 less 文件
    }],
    "@babel/plugin-proposal-class-properties"
  ]
}